footer {
    margin-top: 30px;
    background-color: hsla(355, 92%, 11%, 1) !important;
}

section h2 {
    color: goldenrod;
    text-transform: capitalize;
    font-size: 1.3em;
    padding: 15px;
    text-decoration: underline;
}

p {
    border-bottom: 1px dotted gold;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 20px;
    color: lightgoldenrodyellow;
}